body {
	background-color: #014;
	font-family: Verdana, Tahoma, Arial;
	color: #fff;
}
h2 {
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;
}
a {
	color: #fff;
}
.A1 {
	color: #0ff;
}
.A2 {
	color: #ffc400;
}
.A3 {
	color: #f08;
}
.A4{
	color: #8c00ff;
}
.A5 {
	color: #002aff;
}
.A9 {
	color: #0dff00;
}
.A95 {
	color: #ff6600;
}
.A96 {
	color: #ff5e00;
}
.A97 {
	color: #ff5500;
}
.A98 {
	color: #ff4d00;
}
.A99 {
	color: #ff4400;
}
.A195 {
	color: #1500ff;
}
.A196 {
	color: #1100ff;
}
.A197 {
	color: #0d00ff;
}
.A198 {
	color: #0800ff;
}
.A201 {
	color: #00f;
}
.Aw {
	color: #ff00ae;
	text-shadow: 0 0 0.1em currentColor;
}
.Ag {
	color: #ff8c00;
	text-shadow: 0 0 0.1em currentColor:
}